<section class="navbar navbar-expand-lg navbar-light bg-light fixed-top" role="navigation" id="navbar-example">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <section class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'Shop', products_url %>
      </li>
      <li class="nav-item">
        <%= link_to 'Order', orders_url %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag("bb_logo_pic.png", class: "logo-icon"), simple_pages_landing_page_path %>
      </li>
      <li class="nav-item">
        <%= link_to "About", simple_pages_about_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", simple_pages_contact_path %>
      </li>
      <li class="nav-item">
        <%= link_to "FAQ", root_path %>
      </li>
    </ul>
  </section>
</section>
