<div class="col-12 col-md-4 md-row">
  <%= image_tag(product.image_url, class: "img-fluid") %>
  <a href="#"><%= product.name %></a>
  <%= product.description %>
  <%= product.colour %>
  <%= product.price %>
</div><!-- /col -->
