<p id="notice"><%= notice %></p>

<section class="container container-fluid">
  <section class="row">
    <section class ="show-left col-12 col-md-6">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>
      <p>
        <%= image_tag(@product.image_url) %>
      </p>
    </section>


    <section class ="show-right col-12 col-md-6">
      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <!-- <p>
        <strong>Image url:</strong>
        <#%= @product.image_url %>
      </p> -->

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>

      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
    </section>

  </section><!--end row-->
</section>
