<p id="notice"><%= notice %></p>

<section class="container container-fluid">
  <section class="row">
    <section class ="show-left col-12 col-md-6">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>
      <p>
        <%= image_tag(@product.image_url) %>
      </p>
    </section>


    <section class ="show-right col-12 col-md-6">
      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <p>
        Average Rating:<div class="rated" data-score="<%= @product.average_rating %>"></div>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>

      <section class ="high-low-rating">
        <h3>Highest Comment</h3>
        <%= @product.highest_rating_comment.body %>
      </section>
      <section class ="high-low-rating">
        <h3>Lowest Comment</h3>
        <%= @product.lowest_rating_comment.body %>
      </section>

      <section class ="back-link show-links">
        <%= link_to 'Edit', edit_product_path(@product) %> |
        <%= link_to 'Back', products_path %>
      </section>
    </section>

    <section class ="star-comments col-12 col-md-12">
      <%= render 'new_comment' %>
      <%= render 'comments' %>
      <!--- render page links in the view: -->
      <%= will_paginate @comments, class: "comments_pagination" %>
    </section>



  </section><!--end row-->
</section>
