<p id="notice"><%= notice %></p>

<section class="container container-fluid">
  <section class="row">
    <section class ="show-left col-12 col-md-6">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>
      <p>
        <%= image_tag(@product.image_url) %>
      </p>
    </section>


    <section class ="show-right col-12 col-md-6">
      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>

      <section class ="product-rating">
        <section class ="average-rating">
          <h3>Average Rating</h3>
          <div class="rated" data-score="<%= @product.average_rating %>"></div>
        </section>

        <section class ="high-rating">
          <h3>Highest Rating</h3>
          <div class="rated" data-score="<%= @product.highest_rating_comment %>"></div>
        </section>

        <section class ="low-rating">
          <h3>Lowest Rating</h3>
          <div class="rated" data-score="<%= @product.lowest_rating_comment %>"></div>
        </section>
      </section>

      <section class ="back-link show-links">
        <%= link_to 'Edit', edit_product_path(@product) %> |
        <%= link_to 'Back', products_path %> |
        <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>

      </section>
    </section>

    <section class ="star-comments col-12 col-md-12">

      <%= render 'new_comment' %>
      <%= render 'comments' %>

      <!--- render page links in the view: -->
      <%= will_paginate @comments, class: "comments_pagination" %>
    </section>



  </section><!--end row-->
</section>
